*.py[cod]
pretrained/
model_snapshot/
dist
build
*_level_model
*.txt
*.exe
.idea
Pipfile
__pycache__
albert_chinese_pytorch
attention_visual
data_parse
dataset2
dataset/*_*.*
dataset/*.xls
entity_result
joint_model/elmo
joint_model/configs
old
pipeline_model
result
config.txt
crf_run.sh
evaluate.py
finetune_on_pregenerated.py
*.json
model_predict_script.*
pipeline_lan.py
pipeline_main.py
ner_main.py
pregenerating_and_training.*
run.sh